@page
@model EditBlogPostModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Edit Blog Post</h1>

<form method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
    <input type="hidden" asp-for="BlogPost.id" />

    <label for="author">Author:</label>
    <input id="author" name="BlogPost.Author" type="text" required value="@Model.BlogPost.author" />

    <label for="title">Title:</label>
    <input id="title" name="BlogPost.Title" type="text" required value="@Model.BlogPost.title" />

    <label for="text">Text:</label>
    <textarea id="text" name="BlogPost.Text" required>@Model.BlogPost.text</textarea>

    <label for="image">Image:</label>
    <input id="image" name="Image" type="file" />
    <label class="file-upload-button" for="image">Choose File</label>
    <span class="file-upload-text">No file chosen</span>

    <label for="imageLink">Image Link:</label>
    <input id="imageLink" name="BlogPost.ImageLink" type="text" value="@Model.BlogPost.imageLink" />


    <button type="submit">Update</button>
</form>

<script src="site.js"></script>
