@page
@model EditBODModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Edit BOD</h1>

<form method="post">
    <input type="hidden" asp-for="BOD.id" />

    <label for="name">Name:</label>
    <input id="name" name="BOD.name" type="text" required value="@Model.BOD.name" />

    <label for="position">Position:</label>
    <input id="position" name="BOD.position" type="text" required value="@Model.BOD.position" />

    <label for="image">Image:</label>
    <input id="image" name="Image" type="file" />
    <label class="file-upload-button" for="image">Choose File</label>
    <span class="file-upload-text">No file chosen</span>

    <label for="imageLink">Image Link:</label>
    <input id="imageLink" name="BOD.imageLink" type="text" value="@Model.BOD.imageLink" />

    <button type="submit">Update</button>
</form>
