@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Welcome to SamAirline Admin!</h1>

<nav>
    <ul>
        <li><a href="./BlogPosts">Blog Posts</a></li>
        <!-- Add similar links for your other entities (Airplanes, Board of Directors, and Texts) -->
    </ul>
</nav>
