@page
@model SliderModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Slider Images</h1>
<br>
<br>
<a class="btn btn-primary" href="./CreateSliderImage">Add New Image</a>
<br>
<br>
<table>
    <thead>
        <tr>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sliderImage in Model.SliderImages)
        {
            <tr>
                <td><img src="@sliderImage.imageLink" style="width: 100px; height: 100px;" /></td>
                <td>
                    <a href="./EditSliderImage?id=@sliderImage.id">Edit</a> |
                    <a href="./DeleteSliderImage?id=@sliderImage.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>